extends ../_layout

block aside
    include ../_includes/aside-menu-two

block content
    h1 Список игроков

    ul
        each player in listPlayers
            li
                a(href=`/${game}/players/${player.id}`)= player.name