aside
    ul.ui.compact.vertical.labeled.icon.menu
        li
            a(href='/').item.nav__home
                |     Home
        li
            a(href='/admin/dota2').item
                |     Dota 2
        li
            a(href='/admin/csgo').item
                |     CS:GO
        li
            a(href='/admin/lol').item
                |     LOL
        li
            a(href='/admin/hearthstone').item
                |     Hearthstone
        li
            a(href='/admin/overwatch').item
                |     Overwatch
        li
            a(href='/admin/news').item
                |     News
        li
            a(href='/admin/users').item
                |     Users