doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")

        link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:300,400,400i,700&subset=cyrillic')
        link(rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons')
        link(rel='stylesheet' href=`/css/app.css?v=${version}`)

        script(src='/lib/jquery/dist/jquery.min.js')
        script(src='/lib/semantic-ui/dist/semantic.min.js')
        script(src='/js/app.js')

        title Киберспортивый проект / Турниры по играм

    body
        div.layout
            block aside
                include _includes/aside-menu

            div.layout__main
                block header
                    include _includes/header
                block content


