extends ../_layout

block aside
    include ../_includes/aside-menu-two

block content
    form(method='post')
        p Вы уверены что хотите удалить Команду "#{team.name}"
        .extra.content
            .ui.two.buttons
                a.ui.basic.green.button(href=`/${game}/teams`) Нет
                button.ui.basic.red.button(type='submit') Да