extends ../_layout

block aside
    include ../_includes/aside-menu-two

block content
    h1 Команды

    ul
        each team in teams
            li
                a(href=`${baseUrl}/${team.id}`)= team.name
