extends _layout

block content
    h1 Главная страница с кокой-то нужной информацией(Предстоящие турнира, прошедшые турниры, лучшие игроки, etc)
    .block-test
    .block-test
    .block-test
    .block-test
    .block-test
    .block-test
    .block-test
    .block-test
    .block-test
    .block-test
    .block-test