extends _layout

block content
    h1 Страница новостей

    each article in newsList
        li= article.author
        - var urlId = `/news/${article.id}`
            a(href= urlId)= article.preview
