aside
    ul.ui.compact.vertical.labeled.icon.menu
        li
            a(href='/admin').item.nav__home
                |     Admin
        li
            a(href='/').item.nav__home
                |     Home
        li
            a(href='/dota2').item
                |     Dota 2
        li
            a(href='/csgo').item
                |     CS:GO
        li
            a(href='/lol').item
                |     LOL
        li
            a(href='/hearthstone').item
                |     Hearthstone
        li
            a(href='/overwatch').item
                |     Overwatch
        li
            a(href='/news').item
                |     News
        li
            a(href='/users').item
                |     Users