aside
    ul.ui.compact.vertical.labeled.icon.menu
        li
            a(href='/').item.nav__home
                |     Home
        li
            a(href=`/${game}/teams`).item
                |     Команды
        li
            a(href=`/${game}/players`).item
                |     Игроки
        li
            a(href=`/${game}/tournaments`).item
                |     Турниры