.ui.small.menu
    .right.menu
        unless user
            .item
                a(href='/auth/register' class='ui primary button') Регистрация
            .item
                a(href='/auth/login' class='ui primary button') Войти
            //a(href='/auth/logout' class='ui primary button') Выйти
        else
            .item
                a(href='/profile' class='ui primary button')= user.email
            .item
                a(href='/auth/logout' class='ui primary button') Выйти