.ui.small.menu
    .right.menu
        .item
            //.ui.primary.button Sign Up
            a(href='/auth/register' class='ui primary button') Регистрация
            a(href='/auth/login' class='ui primary button') Войти
            //a(href='/auth/logout' class='ui primary button') Выйти
