header.nav
    nav.nav-list
        li.nav-item
            a(href='/dota2')
                span Dota 2
        li.nav-item
            a(href='/csgo')
                span CS:GO
        li.nav-item
            a(href='/lol')
                span LOL
        li.nav-item
            a(href='/hearthstone')
                span Hearthstone
        li.nav-item
            a(href='/overwatch')
                span Overwatch