extends ../_layout

block aside
    include ../_includes/aside-menu-two

block content
    h1 Список игроков

    .ui.cards
        each player in listPlayers
            .card
                .content
                    img.right.floated.mini.ui.image(src='/images/avatar/large/elliot.jpg')
                    .header
                        a(href=`/${game}/players/${player.id}`)= player.name
                    .meta
                        = player.game
                    .meta
                        //= JSON.stringify(player)
                        each team in player.teams
                            span= team.nameTeam
                            hr
                    .description
                        | Elliot requested permission to view your contact details