extends ../../_layout

block aside
    include ../../_includes/aside-menu-two

block content
    .ui.grid
        .one.column.large.screen.only.margin__row_20
            .row
                span Название команды:
                span= oneTeam.nameTeam

    .ui.grid
        .one.column.large.screen.only.margin__row_20
            .row
                .ui.cards
                    .card
                        .content
                            .header
                                h5 Игры в которых учавствует команда
                            .card
                                .content
                                    if oneTeam.listGameTeam.length > 0
                                        each game in oneTeam.listGameTeam
                                            div= game
                                    else
                                        span Список пуст
    .ui.grid
        .one.column.large.screen.only.margin__row_20
            .row
                .ui.cards
                    .card
                        .content
                            .header
                                h5 Список участников команды
                            .card
                                .content
                                    if listPlayers.length > 0
                                        ul
                                            each player in listPlayers
                                                li
                                                    a(href=`/profile/players/${player.id}`)= player.name
                                    else
                                        span Список пуст