extends ../../_layout

block aside
    include ../../_includes/aside-menu-two

block content
    .ui.grid
        .one.column.large.screen.only.margin__row_20
            h1 Мои команды
    //a.ui.primary.button(href=`${baseUrl}/create`) New team
    .ui.grid
        .one.column.large.screen.only.margin__row_20
            .row
                .ui.cards
                    .card
                        .content
                            .header
                                h4 Мои созданные команды
                            if myTeams.length > 0
                                each team in myTeams
                                    .card
                                        .content
                                            img.right.floated.mini.ui.image(src='/images/avatar/large/elliot.jpg')
                                            .header
                                                a(href=`/profile/teams/${team.id}`)= team.nameTeam
                                            .meta
                                                | Friends of Veronika
                                            .description
                                                | Elliot requested permission to view your contact details
                            else
                                .card
                                    .content
                                        span Вы не создали ни одной команды
                        a(href="/profile/teams/create").ui.bottom.attached.button
                            i
                            |    Создать новую команду
            .row
                .ui.cards
                    .card
                        .content
                            .header
                                h4 Команды в которых я состаю
                            if teams.length > 0
                                each team in teams
                                    .card
                                        .content
                                            img.right.floated.mini.ui.image(src='/images/avatar/large/elliot.jpg')
                                            .header
                                                a(href=`${baseUrl}/${team.id}`)= team.name
                                            .meta
                                                | Friends of Veronika
                                            .description
                                                | Elliot requested permission to view your contact details
                            else
                                .card
                                    .content
                                        span Вы не состоите ни в одной команде