extends ../_layout

block content
    h1 Страница статей

    .ui.cards
        each article in newsList
            .card
                .content
                    img.right.floated.mini.ui.image(src='/images/avatar/large/elliot.jpg')
                    .header
                        a(href=`${baseUrl}/${article.id}`)= article.title || 'text'
                    .meta
                        =article.author
                    .description
                        =article.preview
