extends ../_layout
block aside
    include ../_includes/aside-menu-two

block content
    h1 Турнир
    p= oneTournament.name
    h3 Список команд
    ul
        each team in listTeams
            li
                a(href=`/admin/${game}/teams/${team.id}`)= team.name