extends ../_layout

block content
    .ui.grid
        .one.column.large.screen.only.margin__row_20
            .row
                h5= player.name
                .field
                    player.email
                .field
                    if player.role === 'user'
                        span Пользователь
                    else
                        span Админ
            .row
                .ui.cards
                    .card
                        .content
                            .header Ваши команды
                            .ui.relaxed.divided.list
                                each team in myTeams
                                    .item
                                        .description
                                            p= team.nameTeam
                                        .description
                                            each game in team.listGameTeam
                                                i= game
                        a(href="/profile/teams/create").ui.bottom.attached.button
                            i.add.icon
                            |       Создать новую команду